body {
background-color:lightblue;}

.button {
    background-color: #008CBA;} /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
}